wheel==0.42.0
python-dotenv==1.0.0
requests==2.31.0
black==24.2.0
ruff==0.1.15
bandit==1.7.6
mypy==1.8.0
isort==5.13.2
flake8==7.0.0
aws-cdk-lib==2.130.0
constructs>=10.3.0
numpy==1.26.4
pandas==2.1.1
pyspark==3.5.0
langchain==0.3.18
pytest
pytest-cov
websockets